{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

aaaaaaaaaaaaaaaaaaaaaaaaaaa
{#{% block page_checkout_finish_order_payment_method %}#}
{#    <p>#}
{#        {{ dump(page.order) }}#}
{#        <strong>{{ "checkout.finishInfoPayment"|trans|sw_sanitize }}</strong>#}
{#        {{ page.order.transactions.last.paymentMethod.translated.name }}#}
{#    </p>#}
{#{% endblock %}#}